@{
    ViewBag.Title = "За нас";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card filled-card">
            <h5 class="card-title">Какво са "Ресторантите на бъдещето"</h5>
            <div class="card-body">
                <p class="card-text">
                    В най-общ смисъл това са ресторанти, в които клиентите ще бъдат обгрижвани изцяло от технологии.
                </p>
                <p class="card-text">
                    В "Ресторантите на бъдещето" всяко нещо - от настаняването, до донасянето на поръчката - 
                    се случва много по-бързо, отколкото в друг ресторант.
                </p>
                <p class="card-text">
                    Клиентите могат да се насладят на едно изцяло ново изживяване, тъй като ще бъдат заобиколени
                    от технологична среда, докато се наслаждават на вкусната храна.
                </p>
            </div>
        </div>
    </div>
</div>

