@{
    ViewBag.Title = "Контакти";
}
<div class="row">
    <div class="col-sm-6">
        <div class="card filled-card">
            <h5 class="card-title">Контакти</h5>
            <div class="card-body">
                <address>
                    Младост 1, блок 56, вход 3, партер<br />
                    София, България<br />
                    <abbr title="Телефонен номер">Тел.:</abbr>
                    02/559965
                </address>
                <address>
                    <strong>Отдел поддръжка: </strong><a href="mailto:SupportSmartRestaurants@example.com">SupportSmartRestaurants@gmail.com</a><br />
                    <strong>Маркетинг отдел: </strong><a href="mailto:MarketingSmartRestaurants@example.com">MarketingSmartRestaurants@gmail.com</a>
                </address>
            </div>
        </div>
    </div>
</div>
