@{
    ViewBag.Title = "Ресторантите на бъдещето";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-title text-center">Резервация</h5>
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <div class="col-md-6 col-sm-6" style="margin-bottom: 10px;">
                        <label for="userEmail">Имейл адрес:</label>
                        <input id="userEmail" name="userEmail" class="form-control" required />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-bottom: 10px;">
                        <label for="phoneNum">Телефон за връзка:</label>
                        <input id="phoneNum" name="phoneNum" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6" style="margin-bottom: 10px;">
                        <label for="chairsNeeded">Брой места:</label>
                        <input id="chairsNeeded" name="chairsNeeded" class="form-control" required/>
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-bottom: 10px;">
                        <label for="tableType">Вид маса:</label>
                        <select name="tableType" id="tableType" class="form-control">
                            <option value="1">Непушачи</option>
                            <option value="2">Пушачи</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6" style="margin-bottom: 10px;">
                        <label for="type">Резервирай за дата:</label>
                        <div class="col-md-12 input-group date js-datepicker">
                            <div>
                                <input type="text" id="date" name="date" class="form-control" required/>
                            </div>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-bottom: 10px;">
                        <label for="time">Резервирай за час:</label>
                        <input id="time" name="time" class="form-control timepicker" />
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Завърши резервацията" required/>
                </div>
            }
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card filled-card">
            <h5 class="card-title">Преглед на свободните маси в момента</h5>
            <div class="card-body">
                <p class="card-text">
                    Може да направите своята резервация, като попълните формата в ляво.
                </p>
                <p class="card-text">
                    Резервации се приемат най-малко половин час преди часът, за който е резервацията.
                </p>
                <p class="card-text">
                    Ако желаете да посетите ресторанта веднага, то няма нужда да правите резервация.
                    Чрез бутон <b>Преглед</b> може да разгледате с какви свободни маси разполага в момента.
                </p>
                <a href="@Url.Action("ViewTables", "ReservationHome")" class="btn btn-primary">Преглед</a>
            </div>
        </div>
    </div>
</div>
