@{
    ViewBag.Title = "Резервации";
}

<hr />
<h2 class="align-center" style="color:lightcoral">Резервации чакащи обработка</h2>
<hr />
<table id="table_id" class="display dataTable">
    <thead>
        <tr style="background:lightcoral">
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<hr />
<h2 class="align-center" style="color:#64d16b">Направени резервации</h2>
<hr />
<table id="table_id2" class="display dataTable">
    <thead>
        <tr style="background:#64d16b">
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>
