body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.restaurant {
    margin-top: 20px;
    border: 3px solid #af96cc;
    height: 500px;
    width: 1134px;
    padding: 0px;
    background-color: white;
}

.terrace {
    border-left: 3px solid #af96cc;
    height: 494px;
    background-color: #4be5a7;
}

.kitchen-row {
    height: 494px;
}

.no-padding-margin {
    margin: 0px;
    padding: 0px;
}

.color-red {
    fill: red;
    stroke: black;
    stroke-width: 3;
    opacity: 0.8;
}

.color-green {
    fill: green;
    stroke: black;
    stroke-width: 3;
    opacity: 0.8;
}