@{
    ViewBag.Title = "Ресторантите на бъдещето";
}

<div class="restaurant col-md-12">
    <div class="row col-md-9 no-padding-margin">
        <div class="kitchen-row">
            <div class="kitchen col-md-6">
                <p style="padding: 15% 15% 15% 45%; font-size: 20px;">КУХНЯ</p>
            </div>
            <div class="col-md-4 no-background">
            </div>
            <div class="wc col-md-2 no-padding-margin">
                <p style="padding: 45% 35% 15% 45%; font-size: 20px;">WC</p>
            </div>
        </div>
        <div class="other-row">
            <div class="no-background col-md-6">
            </div>
            <div class="col-md-3 no-background">
            </div>
            <div class="col-md-3 no-background no-padding-margin">
            </div>
        </div>
    </div>
    <div class="row col-md-3 no-padding-margin">
        <div class="terrace">
            
        </div>
    </div>
</div>