body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn{
    width: 100px;
}

footer{
    text-align:center;
}

.center {
    margin: auto;
    width: 40%;
    border: 2px solid lightgreen;
    padding: 10px;
    margin-left:30%;
    padding-left: 92px;
    padding-right: 92px;
}

.align-center {
    text-align:center;
}

a {
    cursor:pointer;
}

.navbar {
    background-color: #9cd89e;
    border-color: lightgreen;
}

.navbar-inverse .navbar-nav > li > a {
    color:black;
}

hr {
    border-top: 1px dashed #9cd89e;
}

.solid-hr {
    border-top: 1px solid #9cd89e;
}

.container.body-content {
    min-height:510px;
}

input[type="search"] {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4285;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-list[type='checkbox'] {
    margin-right: 7px;
}

.bootstrap-dialog.type-primary .modal-header {
    background-color: #5cb85c;
}